<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <property name="log_home" value="/data/log/tomcat8080/logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/basic_core.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/basic_core.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="perfFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/perf/basic-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/perf/basic-api.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <MaxHistory>20</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %F{16} [%M:%L] - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="perfFile"/>
    </appender>
    <logger name="org.perf4j.TimingLogger" level="info" additivity="false">
        <appender-ref ref="CoalescingStatistics"/>
    </logger>

    <logger name="com.basic" level="INFO" />

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>

    <logger name="org.springframework.jndi" level="WARN"/>
    <logger name="org.springframework.scheduling" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

</configuration>